.App {
  background-color: rgb(58, 57, 57);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24rem;
  height: 30rem;
  background-color: rgb(230, 228, 232);
  margin: 5rem;
  margin-bottom: 0px;
  padding: 2px;
}

.minicontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.display{
  width: 24rem;
  height: 5rem; 
  background-color: rgb(17, 16, 16);
  color:whitesmoke;
  text-align: right;
  font-size: 24px;
}
.number{
  width: 6rem;
  height: 5rem; 
  background-color: rgb(62, 62, 63);
  color: whitesmoke;
  border-width: 1px;
  border-color: white;
}

.numberzero{
  width: 12rem;
  height: 5rem; 
  background-color: rgb(62, 62, 63);
  color: whitesmoke;
  border-width: 1px;
  border-color: white;
}

.symbol{
  width: 6rem;
  height: 5rem; 
  background-color: rgb(123, 123, 125);
  color: whitesmoke;
  border-width: 1px;
  border-color: white;
}

.clear{
  width: 12rem;
  height: 5rem; 
  background-color: rgb(180, 10, 10);
  color: whitesmoke;
  border-width: 1px;
  border-color: white;
}

.equals{
  width: 6rem;
  height: 10rem; 
  background-color: rgb(21, 51, 104);
  color: whitesmoke;
  border-width: 1px;
  border-color: white;
}

p{
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: whitesmoke;
}

/* Increase font size of text elements */


/* Increase font size of numbers */
.number,
.numberzero,
.symbol,
.clear,
.equals {
  font-size: 24px; /* Adjust font size as needed */
}